.feedback-container {
    width: 1000px;
    height: 700px;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #475482), url('feedback_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    position: relative;
    top: 150px;
    border-radius: 20px;

}

.feedform {
    width: 90%;
    max-width: 800px;
    margin: 100px auto ;
}

.feed-input-box {
    margin-bottom: 30px;
    position: relative;
}

.feedinput,
textarea,
.feedbutton {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid white;
    color: white;
    background: transparent;
    font-size: 15px;
}

.feedinput,
textarea {
    cursor: text;
}

.feedbutton {
    cursor: pointer;
    border-radius: 10px;
}

.feedbclabel {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: white;
    cursor: text;
    transition: 0.2s;
}

.feedinput:focus~.feedbclabel,
.feedinput:valid~.feedbclabel,
textarea:focus~.feedbclabel,
textarea:valid~.feedbclabel {
    top: -35px;
    font-size: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .feed-input-box{
    flex-basis: 48%;
}