
.registr-container {
    width: 700px;
    height: 400px;
    position: relative;
    top: 50px;
    margin: auto;
    padding: 20px 25px;
    background-color: white;
    border-radius: 10px;
}

.registr-title {
    font-family: 'Lobster', serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.registr-container .regform .reg-user-details {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.regform .reg-user-details .reg-input-box {
    width: calc(100%/2 - 20px);
    margin-bottom: 5px;
}

.reg-user-details {
    display: block;
    margin-bottom: 5px;
    font-family: 'Roboto', serif;
    font-size: 16px;
}

.reg-user-details .reg-input-box .reginput {
    height: 30px;
    width: 100%;
    outline: none;
    font-size: 14px;
    margin-top: 5px;
}

.input-radio-box{
    position: relative;
    right: 170px;
}

.reg-button{
    position: absolute;
    bottom: 15px;
}
